
<div id="main-wrapper">
<div class="row">
  <div class="col-md-3 center">
    <div class="panel panel-white" id="js-alerts">
      <div class="panel-body">
<% provide(:title, "Log in") %>
<div class="login-box">
    <p class="text-center m-t-md">Please login into your account.</p>
    <%= form_for(:session, url: login_path, :html => {:class => 'm-t-md'}) do |f| %>

       <%= f.label :email %>
       <%= f.email_field :email, class: 'form-control' %>

       <%= f.label :password %>
        <%= link_to "(forgot password)", new_password_reset_path %>
       <%= f.password_field :password, class: 'form-control' %>

       <%= f.label :remember_me, class: "checkbox inline" do %>
         <%= f.check_box :remember_me %>
         <span>Remember me!</span>
       <% end %>

       <%= f.submit "Log me in!", class: "btn btn-success btn-block" %>
    <% end %>
    <p class="text-center m-t-xs text-sm">Do not have an account?</p>
    <%= link_to "Sign up now!", signup_path, :class=> "btn btn-default btn-block m-t-md" %>
  </div>

                   </div>
                        </div>
                    </div>
                </div><!-- Row -->
              </div><!-- Row -->
