<% provide(:title, "Edit user") %>

<div class ='container col-md-12'>
  <div class="list-group col-md-3 pt100">
    <%= link_to('Edit', {}, :class =>'tq')%>
    <%= link_to('Account Information', {}, :class =>'list-group-item active')%>
</div>
<div class='pt50'>
  <h3 class='anw anx'><%= @user.first_name %></h3>
</div>
<hr>

<div class="row">
  <div class="well col-md-6 col-md-offset-1">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>      
</br>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>

