
<div id="main-wrapper">
<div class="row">
  <div class="col-md-3 center">
    <div class="panel panel-white" id="js-alerts">
      <div class="panel-body">

<% provide(:title, 'Sign up') %>
<div class="register-box">
  <p class="text-center m-t-md">Create an account.</p>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.hidden_field(:activated) if @user.activated? %>
      <br>
      <%= f.submit "Create my account", class: "btn btn-success m-t-xs btn-block" %>
    <% end %>
    <p class="text-center m-t-xs text-sm">Already have an account?</p>
    <a href="/login" class="btn btn-default btn-block m-t-xs">Login</a>
  </div>

                   </div>
                        </div>
                    </div>
                </div><!-- Row -->
            </div><!-- Main Wrapper -->
