<div class='nested-fields'>
  <%= f.label 'Day name' %>
  <%= f.text_field :name, class: 'form-control' %>
  <%= f.label 'Date' %>
  <%= f.date_field :date, class: 'form-control' %>
  <div id='sub_events'>
    <%= f.fields_for :sub_events do |event| %>
      <%= render 'sub_event_fields', f: event %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association '+ Add Event', f, :sub_events, class: 'btn' %>
    </div>
  </div>
  <%= link_to_remove_association "- Remove Day", f, class: 'btn btn-danger' %>
</div>