<% provide(:title, "Ticket List") %>
<%= render(:partial => 'shared/event_nav') %>
<div class=" col-md-7 col-lg-offset-1 ">
<% @event.days.each do |day| %>
  <h2><%= day.name %></h2>
  <% day.rooms.each do |room| %>
    <h3><%= room.name %></h3><br>
    <% room.workshops.each do |workshop| %>
      <h5><%= workshop.title %></h5>
      <li><%= workshop.time.strftime(" %I:%M%p") %></li>
      <li><%= workshop.instructor %></li>
      <li><%= workshop.level %></li>
      <li><%= workshop.location %></li>
      <li><%= workshop.category %></li>
    <% end %>
  <% end %>
<% end %>
</div>