<!--Title of the event-->
<% provide(:title, "Event Details") %>
<!--Find me in the layout/event_overview_nav-->  
<%= render(:partial => 'layouts/event_overview_nav')%>
<h3 class='anw anx pt50'>Festival Overview</h3>
<hr>
<!--Checking in the events are empty-->
<% if @events.empty? %>
<<<<<<< HEAD
	<div class="well col-md-8">
		<h2>Your on your way to creating your first event!</h2>
 		<center><%= link_to('Create Festival', new_event_path , :class =>'ce apn ame')%> </center>
=======
	<div class="col-md-8 tbo">
		<center>
		<h3>“The world is but a canvas to our imagination”</h3>
	</br> <p>— Henry David Thoreau</p>
 		<%= link_to('Create a Festival', new_event_path , :class =>'btn btn-primary event-button')%></center>
>>>>>>> remotes/origin/stripe_payment
	</div>
<% else %>
	<div class="col-md-8 well">
		<% @events.each do |event| %>
		<h4><%= event.event_name %></br></h4>

	<!--Checking if the user has permission to update link if not remove link-->	
		<% if can? :update, event %>			
<<<<<<< HEAD
		<%= link_to('Edit Event', event_path(event.id))%> |
=======
		<%= link_to('Edit Event', edit_event_path(event.id))%> |
>>>>>>> remotes/origin/stripe_payment
		<% end %>

		<%= link_to('View Event', {:controller => 'public', :action => 'show', :event_url => event.event_url})%> 

	<!--Checking if the user has permission to create tickets link if not remove link-->	
		<% if can? :update, event %>
		| <%= link_to('Create Tickets',  new_event_ticket_path(event.id))%> 
		<% end %>


	<!--Checking if the user has permission to delete the event. Ff not remove link-->
		<% if can? :destroy, event %>	
		| <%= link_to('Delete', event ,  :method => :delete,  data: {confirm: "Are you sure?"})%> <br>
		<% end %>
		<hr>

		<% end %>
	</div>
<% end %>


