<% provide(:title, "Event Details") %>

<!-- Event dashboard navigation-->
<div class ='container col-md-12 '>
<%= render(:partial => 'shared/event_nav') %>

	<div class=''>
<h3 class='anw anx pt50'><%= @event.event_name %></h3>
<hr>
</div>
	<div class="well col-md-7">
		<!--Basic Event Information-->
		  <% if @event.main_image_file_name.nil? %>
             <%= image_tag('https://s3.amazonaws.com/dancefestimages/static_images/placeholder.png', :class => "img-responsive") %>
          <% else %>
             <%= image_tag(@event.main_image.url, :class => "img-responsive") %>
          <% end %>
		<h4>Basic Details</h4>
		<p>Event Name: <%= @event.event_name %> </p>
		<p>Event ID: <%= @event.id %> </p>
		<p>Quick Description: <%= @event.description_short %> </p>
		<br>

		<!--Contact Information-->
		<h4>Contact</h4>
		<p>Contact Name: <%= @event.contact_name %> </p>
		<p>Contact Phone: <%= number_to_phone(@event.contact_phone, area_code: true) %> </p>
		<p>Event Email: <%= @event.contact_email %> </p>
		<br>
		<!--Location Information-->
		<h4>Location</h4>
		<p>Venue Name: <%= @event.venue_name %></p>
		<p>Venue Address: <%= @event.address_1 %></p>
		<p>Venue City: <%= @event.city %></p>
		<p>State, Zipcode: <%= @event.state %> , <%= @event.zip_code %></p>

		<h4>Details</h4>
		<p>Detailed Description: <%= @event.description_long.try(:html_safe) %> </p>
	</div>
</div>

</div>