<% provide(:title, "Event Details") %>
<%= render(:partial => 'shared/event_nav') %>
<!-- Event dashboard navigation-->
<div class="well col-md-7">
<!--Basic Event Information-->
	<h2> Overview </h2></br>
	<div class="tbo">
	 <div class="table-responsive">         
	  <table class="table table-hover">
	    <thead>
	      <tr>
	      	<th>Invoice #</th>
	      	<th>Buyers Name</th>
	      	<th>Amount</th>
	      	<th>Ticket Name</th>
	      </tr>
	    </thead>
	    <tbody>
			<% @orders.each do |order| %>
      	<tr>
          <td> <%= order.id %> </td>
          <td> <%= order.user.first_name %> <%= order.user.last_name %></td>
          <td> <%= number_to_currency(order.raw_price/100,  precision: 2) %></td>
          <td> <%= order.entitlements.map { |e| e.ticket.ticket_name } %> </td>
      <% end %>
	    </tbody>
	  </table>
	 </div>
	</div>
</div>
