<% provide(:title, "Event Details") %>
<%= render(:partial => 'shared/event_nav') %>
<!-- Event dashboard navigation-->
<div class=" col-md-9">
<!--Basic Event Information-->
<div class ='row'>
	<div class='well col-md-3 col-sm-offset-1' style='height:200px; margin-right:20px;'>
		Orders </br>
		<center> <h1> <%= @orders.count(:id) %> </h1> </center>
	</div> 
	<div class='well col-md-4' style='height:200px; margin-right:20px;'>
		Sales </br>
		<center> <h1><%= number_to_currency(@orders.sum(:raw_price)/100, precision:2) %> </h1> </center>
	</div>
	<div class='well col-md-3' style='height:200px; margin-right:20px;'> 
		Attendees
		<center> <h1> <%= Entitlement.where(order_id: [1,2]).count %> </h1> </center>
		<center> </center> 
	</div>

	<% @orders.each do |order| %>
	 <%= order.id %> 
	 <%= Entitlement.where(order_id: order.id).count %>
	  <% end %>

</div>
<div class ='row'>
	<h2> Purchases </h2></br>
</div>
	<div class="tbo">
	 <div class="table-responsive">         
	  <table class="table table-hover">
	    <thead>
	      <tr>
	      	<th>Invoice #</th>
	      	<th>Buyers Name</th>
	      	<th>Amount</th>
	      	<th>Ticket Name</th>
	      	<th>Entitled Name</th>
	      </tr>
	    </thead>
	    <tbody>
			<% @orders.each do |order| %>
      	<tr>
          <td> <%= order.id %> </td>
          <td> <%= order.user.first_name %> <%= order.user.last_name %></td>
          <td> <%= number_to_currency(order.raw_price/100,  precision: 2) %></td>
          <td> <%= order.entitlements.map { |e| e.ticket.ticket_name } %> </td>
          <td> <%= order.entitlements.map { |e| e.first_name }  %> 
           	   <%= order.entitlements.map { |e| e.last_name }  %>  </td>
      <% end %>
	    </tbody>
	  </table>
	 </div>
	</div>
</div>
