<div class="col-md-12">
  <div class="panel panel-white">
    <div class="panel-heading clearfix">
      <h3 class="panel-title"> <%= @order.event.event_name %></h2>
    </div>  
    <div class="panel-body">
      
<% present @order do |order_presenter| %>
  <div class=" col-md-4 col-md-offset-0 pt50">
    <%= render 'ticket_preview' %>
  </div>

  <div class="well col-md-7 col-md-offset-1 pt50">

  <%= form_for @order do |f| %>
    <h2> Payment Information </h2> 
    <center><h5>Visa, MasterCard, American Express, or DiscoverCard Secure</h5> </center>
      <%= f.hidden_field :coupon_id, value: @order.coupon.try(:id) %>
      <div class="form-group col-md-6">  
        <%= f.text_field :buyer_first_name, class:'form-control', placeholder: 'First Name' %> 
      </div>
      <div class="form-group col-md-6"> 
        <%= f.text_field :buyer_last_name, class:'form-control', placeholder: 'Last Name' %> 
      </div>

     <div class="form-group col-md-12">
        <%= f.text_field :address1, class:'form-control', placeholder: 'Address' %>
      </div>
      <div class="form-group col-md-5">
        <%= f.text_field :city, class:'form-control', placeholder: 'City' %>
      </div>
       <div class="form-group col-md-4">
        <%= f.select :state, options_for_select(us_states) %>
      </div>
     <div class="form-group col-md-3">
        <%= f.number_field :zip, class:'form-control', placeholder: 'ZipCode' %>
      </div>
        <div class='col-md-12'>
      <h2> Credit Card Information </h2>
    </div> 
      <div class="form-group col-md-5">
      <%= f.text_field :card_number, class:'form-control', placeholder: 'Card Number', data: {stripe: 'number'} %>
      </div>
      <div class="form-group col-md-4">
          <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], 
          ["Discover", "discover"], ["American Express", "american_express"]], class: 'dropdown' %>
      </div>
      <div class="form-group col-md-3">
      <%= f.text_field :card_cvv, class:'form-control', placeholder: 'CVV', data: {stripe: 'cvc'}  %>
      </div>
      <div class="form-group col-md-4">
          <%= f.label "Expiration Month" %>
          <%= f.select :card_expires_month, 1..12, class:'form-control' %>
          <input type='hidden' value='1' data-stripe='exp_month' class='exp-month'>
      </div>
      <div class="form-group col-md-4">
        <%= f.label "Year" %>
        <%= f.select :card_expires_year, Date.today.year..(Date.today.year+10), 
          class: 'form-control' %>
        <input type='hidden' value='<%=Date.today.year%>' data-stripe='exp_year' class='exp-year'>
      </div>
      <input type='hidden' name='order[source_token]' class='source-token'>
    <div class='col-md-12'>
      <h2> Ticket Information </h2>
       <center><h5>We need to collect name of the attendee for each ticket.</h5> </center>
    </div> 
    <%= f.fields_for :entitlements do |ff| %>
    <div class="form-group col-md-12">
      <h2> <%="#{ff.object.ticket.ticket_name}"%></h2>
    </div>
    <div class="form-group col-md-6">
       <%= ff.text_field :first_name, class:'form-control', placeholder: 'First Name'%>
    </div>
    <div class="form-group col-md-6">
       <%= ff.text_field :last_name, class:'form-control', placeholder: 'Last Name'%>
    </div>
     <div class="form-group col-md-12">
            <%= ff.text_field :email, class:'form-control', placeholder: 'Email' %>
            <%= ff.hidden_field :ticket_id %>
          </div>
        <% end %>
  <%= f.hidden_field :event_id %>
  <%= f.submit "Submit", class:'btn btn-primary' %>
  <% end %>

  </div>
<% end %>
<<<<<<< HEAD
</div>
</div>
</div>
=======


<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('<%= Rails.application.secrets.TEST_PUBLISHABLE_KEY%>');
  $(function() {
    var $form = $('#new_order');
    $form.submit(function(event) {
      // Disable the submit button to prevent repeated clicks:
      $form.find('.submit').prop('disabled', true);

      // Request a token from Stripe:
      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from being submitted:
      return false;
    });
  });
  function stripeResponseHandler(status, response) {
    if (response.error) {
      console.log("error----------------", response.error);
    }
    else {
      console.log(response);
      $('.source-token').val(response.id);
      $('#new_order')[0].submit();
    }

  };
  $('#order_card_expires_month').on('change', function(e){
    $('.exp-month').val(this.value);
  });
  $('#order_card_expires_year').on('change', function(e){
    $('.exp-year').val(this.value);
  });
</script>
>>>>>>> c91e9fcb6f564b932399b20c7faece76f2f37940
