 <div class="well col-md-7 col-md-offset-2 pt100">

  <%= render partial: 'users/user_sign_up_form' if @new_user.present? %>

<%= form_for @order do |f| %>
  <h2> Payment Information </h2> 
  <center><h5>Visa, MasterCard, American Express, or DiscoverCard Secure</h5> </center>
    <div class="form-group col-md-6">  
      <%= f.text_field :buyer_first_name, class:'form-control', placeholder: 'First Name' %> 
    </div>
    <div class="form-group col-md-6"> 
      <%= f.text_field :buyer_last_name, class:'form-control', placeholder: 'Last Name' %> 
    </div>

   <div class="form-group col-md-12">
      <%= f.text_field :address1, class:'form-control', placeholder: 'Address' %>
    </div>
    <div class="form-group col-md-5">
      <%= f.text_field :city, class:'form-control', placeholder: 'City' %>
    </div>
     <div class="form-group col-md-4">
      <%= f.select :state, options_for_select(us_states) %>
    </div>
   <div class="form-group col-md-3">
      <%= f.number_field :zip, class:'form-control', placeholder: 'ZipCode' %>
    </div>
      <div class='col-md-12'>
    <h2> Credit Card Information </h2>
  </div> 
    <div class="form-group col-md-5">
    <%= f.text_field :card_number, class:'form-control', placeholder: 'Card Number' %>
    </div>
    <div class="form-group col-md-4">
        <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], 
        ["Discover", "discover"], ["American Express", "american_express"]], class: 'dropdown' %>
    </div>
    <div class="form-group col-md-3">
    <%= f.text_field :card_cvv, class:'form-control', placeholder: 'CVV' %>
    </div>
    <div class="form-group col-md-4">
        <%= f.label "Expiration Month" %>
        <%= f.select :card_expires_month, 1..12, class:'form-control' %>
    </div>
  <div class="form-group col-md-4">
     <%= f.label "Year" %>
    <%= f.select :card_expires_year, Date.today.year..(Date.today.year+10), 
        class:'form-control' %>
    </div>

  <div class='col-md-12'>
    <h2> Ticket Information </h2>
     <center><h5>We need to collect name of the attendee for each ticket.</h5> </center>
  </div> 
  <%= f.fields_for :entitlements do |ff| %>
  <div class="form-group col-md-12">
    <h2> <%="#{ff.object.ticket.ticket_name}"%></h2>
  </div>
  <div class="form-group col-md-6">
     <%= ff.text_field :first_name, class:'form-control', placeholder: 'First Name'%>
  </div>
  <div class="form-group col-md-6">
     <%= ff.text_field :last_name, class:'form-control', placeholder: 'Last Name'%>
  </div>
   <div class="form-group col-md-12">
          <%= ff.text_field :email, class:'form-control', placeholder: 'Email' %>
          <%= ff.hidden_field :ticket_id %>
        </div>
      <% end %>

<%= f.submit "Submit", class:'btn' %>
<% end %>

</div>