<% provide(:title, "Ticket List") %>
<%= render(:partial => 'shared/event_nav') %>
<% if @tickets.present? %>
	<div class="well col-md-7">
		<% @tickets.each do |ticket| %>
			Ticket Name : <%= ticket.ticket_name %></br>
			Ticket Price : <%= number_to_currency(ticket.ticket_price) %></br>
			Ticket Description : <%= ticket.ticket_decription %> <br>			
			<%= link_to('edit', {:action => 'edit', :id => ticket.id, :event_id => @event.id}, :class => '')%>
			<%= link_to('delete', {:action => 'delete', :id => ticket.id, :event_id => @event.id}, :class => '')%> <br><hr>
		<% end %>
	</div>	
<% else %>
	<div class="well col-md-8">
		<p> No Tickets created yet. Click the "Create Ticket" button to create your first ticket!</p>
	</div>
<% end %>

