<% provide(:title, "Ticket List") %>
<%= render(:partial => 'shared/event_nav') %>
<% if @tickets.present? %>
	<div class="well col-md-6 col-lg-offset-1 ">
		<% @tickets.each do |ticket| %>
		<div>
			<%= ticket.ticket_name %></br>
			Ticket Price : <%= number_to_currency(ticket.ticket_price) %></br>
			Ticket Description : <%= ticket.ticket_decription %> <br>		
			<!--edit ticket-->	
			<%= link_to('Edit', edit_event_ticket_path(@event, ticket.id), :class => '') %> |
			<!--delete ticket-->
			<%=  link_to('Delete', event_ticket_path(@event, ticket.id),  
									:method => :delete,  data: {confirm: "Are you sure?"}) %>
			<br><hr>
		<% end %>
	</div>	
<% else %>
	<div class="well col-md-8">
		<p> No Tickets created yet. Click the "Create Ticket" button to create your first ticket!</p>
	</div>
<% end %>
