<% provide(:title, "Ticket List") %>
<%= render(:partial => 'shared/event_nav') %>
<% if @tickets.present? %>
	<div class="well col-md-6 col-lg-offset-1 ">
		<% @tickets.each do |ticket| %>
		<div>
			<%= ticket.ticket_name %></br>
			Ticket Price : <%= number_to_currency(ticket.ticket_price) %></br>
<<<<<<< HEAD
<<<<<<< HEAD
			Ticket Description : <%= ticket.ticket_decription %> <br>		
=======
			Ticket Description : <%= ticket.ticket_description %> <br>	
			Ticket Quantity : <%= ticket.quantity %> <br>		
>>>>>>> remotes/origin/stripe_payment
=======
			Ticket Description : <%= ticket.ticket_description %> <br>	
			Ticket Quantity : <%= ticket.quantity %> <br>		
>>>>>>> 82ca29f8762af4a0ecb66ff8760fdec04040b46f
			<!--edit ticket-->	
			<%= link_to('Edit', edit_event_ticket_path(@event, ticket.id), :class => '') %> |
			<!--delete ticket-->
			<%=  link_to('Delete', event_ticket_path(@event, ticket.id),  
									:method => :delete,  data: {confirm: "Are you sure?"}) %>
			<br><hr>
		<% end %>
	</div>	
<% else %>
	<div class="col-md-8 tbo">
		<center>
		<h3>“I was lucky -- I found what I love to do early in life...”</h3>
		</br> 
		<p>— Steve Jobs</p>
 		<%= link_to('Create a Ticket', new_event_ticket_path , :class =>'btn btn-primary event-button')%></center>
	</div>
<% end %>
