<h1>My Tickets</h1>
<%= link_to('Create Ticket',  {:action => 'new'} , :class => 'btn btn-primary')%> <br>
<% @tickets.each do |ticket| %>
Ticket Name : <%= ticket.ticket_name %>
	<%= link_to('Show', {:action => 'show', :id => ticket.id})%>
	<%= link_to('edit', {:action => 'edit', :id => ticket.id}, :class => '')%>
	<%= link_to('delete', {:action => 'delete', :id => ticket.id}, :class => '')%> <br>
<% end %>

</td>

