<% provide(:title, "Ticket List") %>
<%= render(:partial => 'shared/event_nav') %>
<div class="well col-md-7 col-lg-offset-1 ">
  <div class="content">
    <h3>Days</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="col-md-3">
            Name
          </th>
          <th class="col-md-3">
            Date
          </th>
          <th class="col-md-3">
            Actions
          </th>
        </tr>
      </thead>
      <tbody class="sorted_table">
        <%= render 'days_table' %>
      </tbody>
    </table>
  </div>

  <%= form_for @event, remote: true, html: { class: 'form-inline' } do |f| %>
    <div id='days'>
      <%= f.fields_for :days do |day| %>
        <%= render 'day_fields', f: day if day.object.new_record? %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association '+ Add Day', f, :days, class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
</div>