    <h3 class='anw anx pt50'><%= @event.event_name %></h3>
    <hr>


<div class="container">
	<div class="row">
		 <div class="col-md-7 col-sm-12 col-md-offset-2">
             <!-- Nav tabs -->
             <div class="card">
                 <ul class="nav nav-tabs center" role="tablist">
                   <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Basic Info</a></li>
                    <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">Contact Info</a></li>
                    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Details</a></li>
                    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Tickets</a></li>
                  </ul>
                  <!-- Tab panes -->
                <div class="tab-content">
                	<!--Event Introduction Tab-->
                    <div role="tabpanel" class="tab-pane active" id="basic">
                    	   <div role="tabpanel" class="tab-pane active" id="basic">
                             <% if @event.main_image_file_name.nil? %>
                                <%= image_tag('https://s3.amazonaws.com/dancefestimages/static_images/placeholder.png', :class => "img-responsive") %>

                            <% else %>
                                 <%= image_tag(@event.main_image.url, :class => "img-responsive") %>
                             <% end %>
                        </div>
                    	<center>
							<p> Venue Name: <%= @event.venue_name %></p>
							<p> Venue Address: <%= @event.address_1 %> <%= @event.city %>, <%= @event.state %><p>
                    		<p> Introduction: <%= @event.description_short %></p>
                    	</center>
                    </div>
                    <!-- Contact Information tab-->

                     <!--Event Description tab-->
                     <div role="tabpanel" class="tab-pane" id="messages">
						<p> <%= @event.description_long.try(:html_safe)  %> </p>
                     </div>
                     <!--Ticket description tab-->
                     <div role="tabpanel" class="tab-pane" id="settings">
                     <!--Checking to make sure there are tickets before revealing the ticket div-->
    				    <% @event.tickets.each do |ticket| %>
    				      Ticket Name : <%= ticket.ticket_name %></br>
    					  Ticket Price : <%= number_to_currency(ticket.ticket_price) %></br>
    				  	  Ticket Description : <%= ticket.ticket_decription %> <br>
    					  Ticket Identification : <%= ticket.id %> <br>  <hr>
                            <%= form_tag new_order_path, method: :get do %>
                              <%= select_tag "ticket_amount", options_for_select(1..12), class: "selectpicker", prompt: "Select quantity" %>
                              <%= number_field_tag "ticket_id", ticket.id, type: 'hidden' %> 
                              <%= submit_tag "Buy tickets", class: "btn btn-default" %>
                            <% end %>
                        <% end%>
                    </div>
                </div>
			</div>
        </div>
	</div>
</div>
