%h3
  %span.pull-left Messages
  %a#closeRight.pull-right{:href => "javascript:void(0);"}
    %i.icon-close
.slimscroll
  %a.showRight2{:href => "javascript:void(0);"}
    = image_tag("avatar3.png")
    %span
      Michael Lewis
      %small Nice to meet you
  %a.showRight2{:href => "javascript:void(0);"}
    = image_tag("avatar1.png")
    %span
      John Doe
      %small Nice to meet you
  %a.showRight2{:href => "javascript:void(0);"}
    = image_tag("avatar3.png")
    %span
      Emma Green
      %small Nice to meet you
  %a.showRight2{:href => "javascript:void(0);"}
    = image_tag("avatar5.png")
    %span
      Nick Doe
      %small Nice to meet you
  %a.showRight2{:href => "javascript:void(0);"}
    = image_tag("avatar4.png")
    %span
      Michael Lewis
      %small Nice to meet you
  %a.showRight2{:href => "javascript:void(0);"}
    = image_tag("avatar2.png")
    %span
      John Doe
      %small Nice to meet you
  %a.showRight2{:href => "javascript:void(0);"}
    = image_tag("avatar3.png")
    %span
      Emma Green
      %small Nice to meet you
  %a.showRight2{:href => "javascript:void(0);"}
    = image_tag("avatar1.png")
    %span
      Nick Doe
      %small Nice to meet you
